[submodule "lab3/socks_proxy/cpp_modules/cpp-dns"]
	path = lab3/socks_proxy/cpp_modules/cpp-dns
	url = https://github.com/YukiWorkshop/cpp-dns
[submodule "lab3/socks_proxy/build/async_dns_resolver"]
	path = lab3/socks_proxy/build/async_dns_resolver
	url = https://github.com/AlpsMonaco/async_dns_resolver
